.product-list{
  &.tile{
    li{
      display: inline-block;
      margin: 0 -4px 0 0;
      width: 200px;
      padding: 15px 19px 16px;
      text-align: center;
      position: relative;
      cursor: pointer;
      vertical-align: top;
    }
  }
}